@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-dark-bg text-dark-text;
    background: linear-gradient(135deg, #121212 0%, #3A29F2 100%, #BD29F2 100%, #7D29F2 100%, #4971F5 100%, #F229DB 100%);
    background-attachment: fixed;
  }

  section {
    @apply min-h-[60vh] flex flex-col justify-center items-center py-4;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-dark-text;
  }

  p {
    @apply text-dark-muted;
  }
}
